**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/.git
**/.gitignore
**/node_modules
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/LICENSE
**/dashboardsettings.Development.json
**/appsettings.Development.json
