services:

  # Sample Service 1 - DEV.
  sample-service-1-dev:
    build:
      context: .
      dockerfile: code/WorldDomination.SimpleObservability.SampleServiceWebApi/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080  # Override the random, internal port.
      - HealthMetadata__ServiceName=Sample Service 1
      - HealthMetadata__Version=1.2.3
      - HealthMetadata__Environment=DEV
      - HealthMetadata__Description=Sample service 1 in development
    networks:
      - observability-net

  # Sample Service 1 - UAT.
  sample-service-1-uat:
    build:
      context: .
      dockerfile: code/WorldDomination.SimpleObservability.SampleServiceWebApi/Dockerfile
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080  # Override the random, internal port.
      - HealthMetadata__ServiceName=Sample Service 1
      - HealthMetadata__Version=1.2.4-beta
      - HealthMetadata__Environment=UAT
      - HealthMetadata__Description=Sample service 1 in UAT
    networks:
      - observability-net

  # Sample Service 1 - PROD.
  sample-service-1-prod:
    build:
      context: .
      dockerfile: code/WorldDomination.SimpleObservability.SampleServiceWebApi/Dockerfile
    ports:
      - "5003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080  # Override the random, internal port.
      - HealthMetadata__ServiceName=Sample Service 1
      - HealthMetadata__Version=1.2.5
      - HealthMetadata__Environment=PROD
      - HealthMetadata__Description=Sample service 1 in production
    networks:
      - observability-net

  # Sample Service 2 - DEV.
  sample-service-2-dev:
    build:
      context: .
      dockerfile: code/WorldDomination.SimpleObservability.SampleServiceWebApi/Dockerfile
    ports:
      - "5004:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080  # Override the random, internal port.
      - HealthMetadata__ServiceName=Sample Service 2
      - HealthMetadata__Version=feature/new-auth
      - HealthMetadata__Environment=DEV
      - HealthMetadata__Description=Sample service 2 in development
    networks:
      - observability-net

  # Sample Service 2 - UAT.
  sample-service-2-uat:
    build:
      context: .
      dockerfile: code/WorldDomination.SimpleObservability.SampleServiceWebApi/Dockerfile
    ports:
      - "5005:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080  # Override the random, internal port.
      - HealthMetadata__ServiceName=Sample Service 2
      - HealthMetadata__Version=feature/new-auth
      - HealthMetadata__Environment=UAT
      - HealthMetadata__Description=User service in development
    networks:
      - observability-net

networks:
  observability-net:
    driver: bridge
