name: Pull Request

on: pull_request

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true

jobs:
  build_and_test:
    name: Build and Test
    uses: ./.github/workflows/reusable-build-test.yml
    with:
      version: ${{ github.run_number }}.0.0-alpha
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

  build_docker:
    name: Build Docker Image
    needs: build_and_test
    uses: ./.github/workflows/reusable-docker.yml
    with:
      dockerfile_path: ./Dockerfile
      registry: ''
      image_name: ''
      push: false
    secrets:
      registry_password: ''
