name: Build, Test and Publish to Docker Hub

on:
  push:
    tags:
      - "*.*.*"
    paths-ignore:
      - '.editorconfig'
      - 'ReadMe.md'
      - 'ChangeLog.md'
      - '.github/workflows/PullRequest.yml'
      - '.github/workflows/MergeToMain.yml'

permissions:
  contents: write
  packages: write

env:
  DOTNET_NOLOGO: true

jobs:
  build_and_test:
    name: Build and Test
    uses: ./.github/workflows/reusable-build-test.yml
    with:
      version: ${{ github.ref_name }}
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

  build_and_push_docker:
    name: Build and Push Docker Image
    needs: build_and_test
    uses: ./.github/workflows/reusable-docker.yml
    with:
      dockerfile_path: ./code/WorldDomination.SimpleObservability.Dashboard/Dockerfile
      registry: docker.io
      registry_username: simpleobservability
      image_name: simpleobservability/dashboard
      push: true
      tags_config: |
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=semver,pattern={{major}}
        type=raw,value=latest
    secrets:
      registry_password: ${{ secrets.DOCKERHUB_TOKEN }}
